
.DS_Store

*.komodoproject

*.tmp.html
.github/styles/Microsoft/*
.github/styles/write-good/*
.github/styles/proselint/*
node_modules/

instalmentResources/pbs131/pbs131a/docs-v0/
instalmentResources/pbs131/pbs131a/docs/
instalmentResources/pbs132/pbs132a/docs/
instalmentResources/pbs132/pbs132a/docs-*/

instalmentResources/pbs138/pbs138a/docs/

instalmentResources/pbs139/pbs139a/docs/

instalmentResources/pbs139/pbs139a-startingPoint/docs/

.vscode/

instalmentResources/pbs150/transcript.txt

instalmentResources/pbs151/order.txt

instalmentResources/pbs152/debug.log

instalmentResources/pbs154/log.txt

instalmentResources/pbs160/citation.txt

instalmentResources/pbs162/techStock-*.json

instalmentResources/pbs163/menu-byName.json

instalmentResources/pbs163/menu-priceByName.json

instalmentResources/pbs164/hibp-pbs.demo-records.json

instalmentResources/pbs164/hibp-mailmerge.csv

instalmentResources/pbs167/package-lock.json

instalmentResources/pbs167/package.json

docs/_site/

docs/Gemfile.lock

docs/_tidbits/assets

docs/_pbs/assets
/docs/assets/.Ulysses-Group.plist

instalmentResources/pbs173/repos/
