
.DS_Store

*.komodoproject

*.tmp.html
.github/styles/Microsoft/*
.github/styles/write-good/*
.github/styles/proselint/*
node_modules/

instalmentResources/pbs131/pbs131a/docs-v0/
instalmentResources/pbs131/pbs131a/docs/
instalmentResources/pbs132/pbs132a/docs/
instalmentResources/pbs132/pbs132a/docs-*/

instalmentResources/pbs138/pbs138a/docs/

instalmentResources/pbs139/pbs139a/docs/

instalmentResources/pbs139/pbs139a-startingPoint/docs/

.vscode/

instalmentResources/pbs150/transcript.txt

instalmentResources/pbs151/order.txt

instalmentResources/pbs152/debug.log
