
.DS_Store

*.komodoproject

*.tmp.html
.github/styles/Microsoft/*
.github/styles/write-good/*
.github/styles/proselint/*
node_modules/

instalmentResources/pbs131/pbs131a/docs-v0/
instalmentResources/pbs131/pbs131a/docs/
