<p class="alert alert-info alert-dismissible fade show">
    <i class="bi bi-info-circle-fill"></i>
    Page loaded at {{localTime}} on {{localDate}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</p>