//
// === Define Our Own SASS Variables First ===
//

// Capture the Bartificer logo colours
$bartificer-logo-green:      #93c01f;
$bartificer-logo-orange:     #f29100;
$bartificer-logo-background: #faf8f0;

// Capture the light version of the Bartificer colour palette
$bartificer-colors-light: (
  background:          #fff,
  header:              #000,
  subheader:           #5f5f5b,
  accent:              #ff7626,
  note:                #9c968c,
  handwriting:         #5f5f5b,
  text:                #000,
  code-text:           #fff,
  code-background:     #5f5f5b,
  action:              #1da6e5,
  action-background:   #dff1fa,
  secondary:           #8c9daf,
  secondary-background:#e6ebf2,
  success:             #78a046,
  success-background:  #dcf0c1,
  warning:             #f0c600,
  warning-background:  #fff2b6,
  error:               #dc5a3c,
  error-background:    #f5cdc2
);

// import the Bartificer fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Georama:ital,wght@0,100..900;1,100..900&family=Reenie+Beanie&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

//
// === Customise Bootstrap ===
//

// Import the Boostrap functions
@import "./node_modules/bootstrap/scss/functions";

// ADD BOOTSTRAP VARIABLE OVERRIDES HERE

// import Bootstrap's variables (including maps)
@import "./node_modules/bootstrap/scss/variables";

// UPDATE BOOTSTRAP MAPS HERE

// Import the rest of Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";

// ADD CUSTOM STYLES HERE